USE [ZhiQuanMedicalCare]
GO
/****** Object:  UserDefinedFunction [dbo].[f_splitSTR]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[f_splitSTR]
    (
      @s VARCHAR(8000) ,   --待分拆的字符串
      @split VARCHAR(10)     --数据分隔符
    )
RETURNS @re TABLE ( StrValue VARCHAR(100) )
AS
    BEGIN
        DECLARE @splitlen INT
        SET @splitlen = LEN(@split + 'a') - 2
        WHILE CHARINDEX(@split, @s) > 0
            BEGIN
                INSERT  @re
                VALUES  ( LEFT(@s, CHARINDEX(@split, @s) - 1) )
                SET @s = STUFF(@s, 1, CHARINDEX(@split, @s) + @splitlen, '')
            END
        INSERT  @re
        VALUES  ( @s )
        RETURN
    END


GO
/****** Object:  Table [dbo].[TBAgentAdvanceCharge]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAgentAdvanceCharge](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[Date] [datetime] NULL,
	[PaymentType] [nvarchar](100) NULL,
	[Money] [nvarchar](100) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBAGENTADVANCECHARGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBAgentContact]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBAgentContact](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[ContactType] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Department] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[QQOrWechat] [nvarchar](100) NULL,
	[IsDefault] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBAGENTCONTACT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBComprehensive]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBComprehensive](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ReleaseTime] [nvarchar](200) NULL,
	[Result] [nvarchar](200) NULL,
	[Temperature] [nvarchar](200) NULL,
	[Sleep] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBCOMPREHENSIVE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCustomer]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCustomer](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Type] [int] NULL,
	[Phone] [nvarchar](200) NULL,
	[IdNumber] [nvarchar](200) NULL,
	[Sex] [int] NULL,
	[Province] [int] NULL,
	[City] [int] NULL,
	[Area] [int] NULL,
	[Address] [nvarchar](200) NULL,
	[Marry] [int] NULL,
	[Birth] [int] NULL,
	[DateOfBirth] [nvarchar](200) NULL,
	[Age] [nvarchar](200) NULL,
	[CardNumber] [nvarchar](200) NULL,
	[Level] [int] NULL,
	[CardBalance] [nvarchar](200) NULL,
	[ChannelId] [int] NULL,
	[AgentId] [int] NULL,
	[PersonLiable] [int] NULL,
	[RegistrationTime] [nvarchar](200) NULL,
	[Remarks] [nvarchar](400) NULL,
	[FirstBirthAge] [nvarchar](200) NULL,
	[LactationLength] [nvarchar](200) NULL,
	[DutyParagraph] [nvarchar](200) NULL,
	[Abbreviation] [nvarchar](200) NULL,
	[InvoiceType] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBCUSTOMER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBCustomerTracking]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBCustomerTracking](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ContactId] [int] NULL,
	[Type] [int] NULL,
	[ReleaseTime] [nvarchar](200) NULL,
	[Amount] [nvarchar](200) NULL,
	[Production] [nvarchar](200) NULL,
	[Content] [nvarchar](200) NULL,
	[Remarks] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBCUSTOMERTRACKING] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBDeliveryMode]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBDeliveryMode](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[DeliveryTime] [nvarchar](200) NULL,
	[DeliveryMode] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBDELIVERYMODE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBDepartment]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBDepartment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](100) NULL,
	[MechanismId] [int] NULL,
	[DepartmentId] [int] NULL,
	[Note] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBDEPARTMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBDictionary]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBDictionary](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentId] [int] NULL,
	[IsShow] [int] NULL,
	[Code] [int] NULL,
	[Type] [int] NULL,
	[Comment] [nvarchar](100) NULL,
	[IsSystem] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBDICTIONARY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBDoctorDiagnosis]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBDoctorDiagnosis](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ReleaseTime] [nvarchar](200) NULL,
	[DoctorName] [nvarchar](200) NULL,
	[Hospital] [nvarchar](200) NULL,
	[Result] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBDOCTORDIAGNOSIS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBFamilyHistory]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBFamilyHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Disease] [nvarchar](200) NULL,
	[Member] [nvarchar](200) NULL,
	[State] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBFAMILYHISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBHistoryData]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBHistoryData](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Type] [int] NULL,
	[ReleaseTime] [nvarchar](200) NULL,
	[Value] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBHISTORYDATA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBInventory]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBInventory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryNo] [int] NULL,
	[Date] [datetime] NULL,
	[Operationer] [nvarchar](100) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBINVENTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBInventoryDetail]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBInventoryDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[InventoryId] [int] NULL,
	[StockDetailId] [int] NULL,
	[DifferNumber] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBINVENTORYDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBJournal]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBJournal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Content] [nvarchar](200) NULL,
	[Name] [nvarchar](100) NULL,
	[OperateName] [nvarchar](100) NULL,
	[Code] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBJOURNAL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tbl_Region]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Region](
	[codeID] [char](6) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[parentID] [char](6) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TBLifeStyle]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLifeStyle](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Environment] [nvarchar](200) NULL,
	[Nutrition] [nvarchar](200) NULL,
	[Motion] [nvarchar](200) NULL,
	[Diet] [nvarchar](200) NULL,
	[Rest] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBLIFESTYLE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBLogisticsDetail]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBLogisticsDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[LogisticsDate] [datetime] NULL,
	[LogisticsCompany] [nvarchar](100) NULL,
	[LogisticsNumber] [nvarchar](100) NULL,
	[LogisticsStatus] [int] NULL,
	[Address] [nvarchar](100) NULL,
	[Content] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBLOGISTICSDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBOrder]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrder](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderNumber] [nvarchar](100) NULL,
	[OrderType] [int] NULL,
	[OrderDate] [datetime] NULL,
	[CustomerId] [int] NULL,
	[ContactId] [int] NULL,
	[InvoiceType] [int] NULL,
	[CompanyTitle] [nvarchar](100) NULL,
	[CompanyTax] [nvarchar](100) NULL,
	[UserId] [int] NULL,
	[MechanismId] [int] NULL,
	[Note] [nvarchar](400) NULL,
	[TotalAmount] [decimal](10, 2) NULL,
	[PayableAmount] [decimal](10, 2) NULL,
	[PayMethod] [int] NULL,
	[PayStatus] [int] NULL,
	[PaidAmount] [decimal](10, 2) NULL,
	[OrderStatus] [int] NULL,
	[IsReturn] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBORDER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBOrderDetail]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrderDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[Category] [int] NULL,
	[ParentId] [int] NULL,
	[ProductId] [int] NULL,
	[ProductType] [int] NULL,
	[ProductName] [nvarchar](100) NULL,
	[SupplierId] [int] NULL,
	[Supplier] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Num] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBORDERDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBOrderPayment]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrderPayment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mode] [int] NULL,
	[Type] [int] NULL,
	[OrderId] [int] NULL,
	[CustomerId] [int] NULL,
	[PayMethod] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBORDERPAYMENT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBOrderProgress]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOrderProgress](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[ProgressDate] [datetime] NULL,
	[ProgressStatus] [int] NULL,
	[UserId] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBORDERPROGRESS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBOut]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOut](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OutNo] [nvarchar](100) NULL,
	[OutDate] [datetime] NULL,
	[OrderId] [int] NULL,
	[Operationer] [nvarchar](100) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
	[UserName] [nvarchar](100) NULL,
 CONSTRAINT [PK_TBOUT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBOutDetails]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBOutDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OutId] [int] NULL,
	[StockDetailId] [int] NULL,
	[productionDate] [datetime] NULL,
	[OutNumber] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBOUTDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPackage]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPackage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PackageName] [nvarchar](100) NULL,
	[Price] [decimal](10, 2) NULL,
	[Describe] [nvarchar](400) NULL,
	[Note] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBPACKAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPackageDetails]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPackageDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[PackageId] [int] NULL,
	[ProductId] [int] NULL,
	[ReportTime] [int] NULL,
	[Number] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBPACKAGEDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPageAuthority]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPageAuthority](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[ParentId] [int] NULL,
	[Note] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
	[IsAgent] [int] NULL,
 CONSTRAINT [PK_TBPAGEAUTHORITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPersonalHistory]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPersonalHistory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[Disease] [nvarchar](200) NULL,
	[DiagnosisDate] [nvarchar](200) NULL,
	[State] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBPERSONALHISTORY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBProduct]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[Type] [int] NULL,
	[Brand] [nvarchar](100) NULL,
	[Model] [nvarchar](100) NULL,
	[SupplierId] [int] NULL,
	[WarrantyDay] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Note] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBPRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBPsychology]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBPsychology](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NULL,
	[ReleaseTime] [nvarchar](200) NULL,
	[Character] [nvarchar](200) NULL,
	[Pressure] [nvarchar](200) NULL,
	[Thinking] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBPSYCHOLOGY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBRoleAuthority]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBRoleAuthority](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NULL,
	[MechanismId] [int] NULL,
	[AuthorityId] [nvarchar](max) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
	[Nates] [nvarchar](400) NULL,
 CONSTRAINT [PK_TBROLEAUTHORITY] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBStock]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBStock](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[SampleNumber] [nvarchar](100) NULL,
	[TotalNumber] [int] NULL,
	[OutDate] [datetime] NULL,
	[InDate] [datetime] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBSTOCK] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBStockDetail]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBStockDetail](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NULL,
	[StockId] [int] NULL,
	[Number] [int] NULL,
	[productionDate] [datetime] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBSTOCKDETAIL] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBStorage]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBStorage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StorageNo] [nvarchar](100) NULL,
	[StorageDate] [datetime] NULL,
	[Operationer] [nvarchar](100) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBSTORAGE] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBStorageDetails]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBStorageDetails](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[StorageId] [int] NULL,
	[StockId] [int] NULL,
	[productionDate] [datetime] NULL,
	[Number] [int] NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBSTORAGEDETAILS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBSupplier]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBSupplier](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[State] [int] NULL,
	[Province] [int] NULL,
	[City] [int] NULL,
	[Area] [int] NULL,
	[DetailsAddress] [nvarchar](100) NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[PersonLiable] [nvarchar](100) NULL,
	[Period] [nvarchar](100) NULL,
	[Note] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBSUPPLIER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBTestReport]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBTestReport](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NULL,
	[CustomerId] [int] NULL,
	[FileName] [nvarchar](100) NULL,
	[FileUrl] [nvarchar](200) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBTESTREPORT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TBUser]    Script Date: 2018/1/12 10:24:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBUser](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[LoginName] [nvarchar](100) NULL,
	[PassWord] [nvarchar](200) NULL,
	[Province] [int] NULL,
	[City] [int] NULL,
	[Area] [int] NULL,
	[DetailsAddress] [nvarchar](100) NULL,
	[IdNumber] [nvarchar](100) NULL,
	[Phone] [nvarchar](100) NULL,
	[TimeOfEntry] [datetime] NULL,
	[MechanismId] [int] NULL,
	[DepartmentId] [int] NULL,
	[RoleId] [int] NULL,
	[UserType] [int] NULL,
	[DateStart] [datetime] NULL,
	[DateEnd] [datetime] NULL,
	[Period] [nvarchar](100) NULL,
	[PersonLiable] [nvarchar](100) NULL,
	[Note] [nvarchar](400) NULL,
	[IsDeleted] [int] NULL,
	[Creater] [int] NULL,
	[CreateTime] [datetime] NULL,
	[Modifier] [int] NULL,
	[ModifyTime] [datetime] NULL,
 CONSTRAINT [PK_TBUSER] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TBDictionary] ON 

INSERT [dbo].[TBDictionary] ([ID], [Name], [ParentId], [IsShow], [Code], [Type], [Comment], [IsSystem], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (1, N'正常', 0, 1, 0, 1, N'供应商状态', 1, 0, 1, CAST(N'2018-01-10 11:01:27.000' AS DateTime), 1, CAST(N'2018-01-10 11:01:27.000' AS DateTime))
INSERT [dbo].[TBDictionary] ([ID], [Name], [ParentId], [IsShow], [Code], [Type], [Comment], [IsSystem], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (2, N'冻结', 0, 1, 5, 1, N'供应商状态', 1, 0, 1, CAST(N'2018-01-10 11:01:27.000' AS DateTime), 1, CAST(N'2018-01-10 11:01:27.000' AS DateTime))
INSERT [dbo].[TBDictionary] ([ID], [Name], [ParentId], [IsShow], [Code], [Type], [Comment], [IsSystem], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (3, N'基因测序', 0, 1, 1, 2, N'产品类型', 1, 0, 1, CAST(N'2018-01-10 11:01:27.000' AS DateTime), 1, CAST(N'2018-01-10 11:01:27.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBDictionary] OFF
SET IDENTITY_INSERT [dbo].[TBJournal] ON 

INSERT [dbo].[TBJournal] ([ID], [Title], [Content], [Name], [OperateName], [Code], [Type], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (1, N'删除供应商管理', N'超级管理员删除供应商管理', N'供应商管理', N'供应商管理', N'supplier', 1, 0, 1, CAST(N'2018-01-11 19:55:34.393' AS DateTime), 1, CAST(N'2018-01-11 19:55:34.393' AS DateTime))
INSERT [dbo].[TBJournal] ([ID], [Title], [Content], [Name], [OperateName], [Code], [Type], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (2, N'删除供应商管理', N'超级管理员删除供应商管理', N'供应商管理', N'供应商管理', N'supplier', 1, 0, 1, CAST(N'2018-01-11 19:56:07.513' AS DateTime), 1, CAST(N'2018-01-11 19:56:07.513' AS DateTime))
INSERT [dbo].[TBJournal] ([ID], [Title], [Content], [Name], [OperateName], [Code], [Type], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (3, N'删除供应商管理', N'超级管理员删除供应商管理', N'供应商管理', N'供应商管理', N'supplier', 1, 0, 1, CAST(N'2018-01-11 19:57:37.533' AS DateTime), 1, CAST(N'2018-01-11 19:57:37.533' AS DateTime))
SET IDENTITY_INSERT [dbo].[TBJournal] OFF
INSERT [dbo].[tbl_Region] ([codeID], [name], [parentID]) VALUES (N'110000', N'北京市', N'0     ')
INSERT [dbo].[tbl_Region] ([codeID], [name], [parentID]) VALUES (N'110100', N'市辖区', N'110000')
INSERT [dbo].[tbl_Region] ([codeID], [name], [parentID]) VALUES (N'110101', N'东城区', N'110100')
GO
SET IDENTITY_INSERT [dbo].[TBPageAuthority] ON 

INSERT [dbo].[TBPageAuthority] ([ID], [Name], [ParentId], [Note], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime], [IsAgent]) VALUES (1, N'客户管理', 0, N'模块名称', 0, 0, CAST(N'2018-01-10 11:00:04.193' AS DateTime), 0, CAST(N'2018-01-10 11:00:04.193' AS DateTime), 1)
INSERT [dbo].[TBPageAuthority] ([ID], [Name], [ParentId], [Note], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime], [IsAgent]) VALUES (2, N'客户资料', 1, N'模块名称', 0, 0, CAST(N'2018-01-10 11:00:16.470' AS DateTime), 0, CAST(N'2018-01-10 11:00:16.470' AS DateTime), 1)
INSERT [dbo].[TBPageAuthority] ([ID], [Name], [ParentId], [Note], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime], [IsAgent]) VALUES (3, N'添加', 2, N'按钮名称', 0, 0, CAST(N'2018-01-10 11:11:00.153' AS DateTime), 0, CAST(N'2018-01-10 11:11:00.153' AS DateTime), 1)
GO
SET IDENTITY_INSERT [dbo].[TBPageAuthority] OFF
SET IDENTITY_INSERT [dbo].[TBRoleAuthority] ON 

INSERT [dbo].[TBRoleAuthority] ([ID], [RoleName], [MechanismId], [AuthorityId], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime], [Nates]) VALUES (1, N'业务员', 0, N'1,2,3,4,5,6,7,8,9,10', 0, 0, CAST(N'2018-01-10 17:12:31.903' AS DateTime), 0, CAST(N'2018-01-10 17:12:31.903' AS DateTime), N'')
SET IDENTITY_INSERT [dbo].[TBRoleAuthority] OFF
SET IDENTITY_INSERT [dbo].[TBSupplier] ON 

INSERT [dbo].[TBSupplier] ([ID], [Name], [State], [Province], [City], [Area], [DetailsAddress], [DateStart], [DateEnd], [PersonLiable], [Period], [Note], [IsDeleted], [Creater], [CreateTime], [Modifier], [ModifyTime]) VALUES (1, N'1', 0, NULL, NULL, NULL, N'2', CAST(N'2018-01-11 18:00:28.000' AS DateTime), CAST(N'2018-01-11 18:00:28.000' AS DateTime), N'1', N'30', N'3', 0, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[TBSupplier] OFF
SET IDENTITY_INSERT [dbo].[TBUser] ON 

SET IDENTITY_INSERT [dbo].[TBUser] OFF
/****** Object:  StoredProcedure [dbo].[authority_qry_page_by_userinfo_roleinfo_list_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec authority_qry_page_by_userinfo_roleinfo_list_sp  '1',1
-- 功能描述: 根据角色ID,当前用户类型,获取角色权限配置信息
-- 创建人: 王庚响
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROC [dbo].[authority_qry_page_by_userinfo_roleinfo_list_sp]
    @LoginUserId INT ,--当前登录人ID
    @RoleId INT--当前角色ID
AS
    BEGIN
        DECLARE @UserParentId INT ,-- 0 管理员 1:代理商或者管理员下的员工  大于1  代理商员工
            @UserType INT; -- 0 代理商  5:平台员工
        SELECT  @UserParentId = MechanismId ,
                @UserType = UserType
        FROM    dbo.TBUser
        WHERE   ID = @LoginUserId
                AND IsDeleted = 0
		--管理员 
        IF ( @UserParentId = 0 )
            OR ( @UserParentId = 1
                 OR @UserType = 5
               )
            BEGIN
                WITH    ACTE ( ID, ParentId, Name, IsDeleted )
                          AS ( SELECT   ID ,
                                        ParentId ,
                                        Name ,
                                        IsDeleted
                               FROM     dbo.TBPageAuthority
                               WHERE    ParentId = 0
                                        AND IsDeleted = 0
                               UNION ALL
                               SELECT   TA.ID ,
                                        TA.ParentId ,
                                        TA.Name ,
                                        TA.IsDeleted
                               FROM     TBPageAuthority TA
                                        INNER JOIN ACTE TB ON TA.ParentId = TB.ID
                                                              AND TA.IsDeleted = 0
                                                              AND TB.IsDeleted = 0
                             )
                    SELECT  ID ,
                            ParentId ,
                            Name ,
                            IsDeleted ,
                            CASE WHEN EXISTS ( SELECT   StrValue
                                               FROM     dbo.f_splitSTR(( SELECT
                                                              AuthorityId
                                                              FROM
                                                              dbo.TBRoleAuthority
                                                              WHERE
                                                              ID = @RoleId
                                                              ), ',')
                                               WHERE    StrValue = ACTE.ID )
                                 THEN 1
                                 ELSE 0
                            END AS checked
                    FROM    ACTE
                    WHERE   IsDeleted = 0
                    ORDER BY ID
            END

	    --代理商  或者 代理商员工
        IF ( @UserParentId = 1
             AND @UserType = 0
           )
            OR ( @UserParentId > 1
                 AND @UserType = 5
               )
            BEGIN
                WITH    ACTE ( ID, ParentId, Name, IsDeleted )
                          AS ( SELECT   ID ,
                                        ParentId ,
                                        Name ,
                                        IsDeleted
                               FROM     dbo.TBPageAuthority
                               WHERE    ParentId = 0
                                        AND IsDeleted = 0
                                        AND IsAgent = 1
                               UNION ALL
                               SELECT   TA.ID ,
                                        TA.ParentId ,
                                        TA.Name ,
                                        TA.IsDeleted
                               FROM     TBPageAuthority TA
                                        INNER JOIN ACTE TB ON TA.ParentId = TB.ID
                                                              AND TA.IsDeleted = 0
                                                              AND TB.IsDeleted = 0
                               WHERE    TA.IsAgent = 1
                             )
                    SELECT  ID ,
                            ParentId ,
                            Name ,
                            IsDeleted ,
                            CASE WHEN EXISTS ( SELECT   StrValue
                                               FROM     dbo.f_splitSTR(( SELECT
                                                              AuthorityId
                                                              FROM
                                                              dbo.TBRoleAuthority
                                                              WHERE
                                                              ID = @RoleId
                                                              ), ',')
                                               WHERE    StrValue = ACTE.ID )
                                 THEN 1
                                 ELSE 0
                            END AS checked
                    FROM    ACTE
                    WHERE   IsDeleted = 0
                    ORDER BY ID
            END

    END;
GO
/****** Object:  StoredProcedure [dbo].[dictionary_qry_data_by_type_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec dictionary_qry_data_by_type_sp
-- 功能描述: 根据Type获取字典表数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/11
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[dictionary_qry_data_by_type_sp] @type INT
AS
    BEGIN
        SET NOCOUNT ON;

        SELECT  ID ,
                Name ,
                Code ,
                Comment
        FROM    dbo.TBDictionary
        WHERE   IsDeleted = 0
                AND Type = @type
    END

GO
/****** Object:  StoredProcedure [dbo].[journal_add_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec journal_add_data_sp
-- 功能描述: 添加操作日志
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[journal_add_data_sp]
	@loginUserId INT , --当前用户
	@title VARCHAR(100),
	@content VARCHAR(200),
	@name VARCHAR(100),
	@operateName VARCHAR(100),
	@code VARCHAR(100),
	@type INT
AS
BEGIN
	INSERT INTO dbo.TBJournal
	        ( Title ,
	          Content ,
	          Name ,
	          OperateName ,
	          Code ,
	          Type ,
	          IsDeleted ,
	          Creater ,
	          CreateTime ,
	          Modifier ,
	          ModifyTime
	        )
	VALUES  ( @title , -- Title - nvarchar(100)
	          @content , -- Content - nvarchar(200)
	          @name , -- Name - nvarchar(100)
	          @operateName , -- OperateName - nvarchar(100)
	          @code , -- Code - nvarchar(100)
	          @type , -- Type - int
	          0 , -- IsDeleted - int
	          @loginUserId , -- Creater - int
	          GETDATE() , -- CreateTime - datetime
	          @loginUserId , -- Modifier - int
	          GETDATE()  -- ModifyTime - datetime
	        )
END

GO
/****** Object:  StoredProcedure [dbo].[product_add_material_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_add_material_data_sp
-- 功能描述: 新建产品资料
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_add_material_data_sp]
    @loginUserId INT , --当前用户
    @productName VARCHAR(100) ,
    @type INT ,
    @brand VARCHAR(100) ,
    @model VARCHAR(100) ,
    @supplierId INT ,
    @warrantyDay INT ,
    @price VARCHAR(100) ,
    @note VARCHAR(400)
AS
    BEGIN
        BEGIN TRY
            BEGIN TRANSACTION MyTrans--开始事务
            
            DECLARE @productId INT;

            INSERT  INTO dbo.TBProduct
                    ( ProductName ,
                      Type ,
                      Brand ,
                      Model ,
                      SupplierId ,
                      WarrantyDay ,
                      Price ,
                      Note ,
                      IsDeleted ,
                      Creater ,
                      CreateTime ,
                      Modifier ,
                      ModifyTime
	                )
            VALUES  ( @productName , -- ProductName - nvarchar(100)
                      @type , -- Type - int
                      @brand , -- Brand - nvarchar(100)
                      @model , -- Model - nvarchar(100)
                      @supplierId , -- SupplierId - int
                      @warrantyDay , -- WarrantyDay - int
                      @price , -- Price - decimal
                      @note , -- Note - nvarchar(400)
                      0 , -- IsDeleted - int
                      @loginUserId , -- Creater - int
                      GETDATE() , -- CreateTime - datetime
                      @loginUserId , -- Modifier - int
                      GETDATE()  -- ModifyTime - datetime
	                )
            SELECT  @productId = @@IDENTITY

		--添加库存数据（非基因测序）
            IF ( @type <> 1 )
                BEGIN
                    INSERT  INTO dbo.TBStock
                            ( ProductId ,
                              SampleNumber ,
                              TotalNumber ,
                              OutDate ,
                              InDate ,
                              IsDeleted ,
                              Creater ,
                              CreateTime ,
                              Modifier ,
                              ModifyTime
			                )
                    VALUES  ( @productId , -- ProductId - int
                              N'' , -- SampleNumber - nvarchar(100)
                              0 , -- TotalNumber - int
                              NULL , -- OutDate - datetime
                              NULL , -- InDate - datetime
                              0 , -- IsDeleted - int
                              @loginUserId , -- Creater - int
                              GETDATE() , -- CreateTime - datetime
                              @loginUserId , -- Modifier - int
                              GETDATE()  -- ModifyTime - datetime
			                )
                END
			
            COMMIT TRANSACTION MyTrans--事务提交语句
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION MyTrans
			--抛出异常
            DECLARE @ErrorMessage NVARCHAR(4000);
            DECLARE @ErrorSeverity INT;
            DECLARE @ErrorState INT;
		
            SELECT  @ErrorMessage = ERROR_MESSAGE() ,
                    @ErrorSeverity = ERROR_SEVERITY() ,
                    @ErrorState = ERROR_STATE();
            RAISERROR (@ErrorMessage,  -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState     -- State.
				   );
            RETURN -1;		   
        END CATCH
        
    END

GO
/****** Object:  StoredProcedure [dbo].[product_add_package_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_add_package_data_sp
-- 功能描述: 新建检测套餐数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_add_package_data_sp]
    @loginUserId INT , --当前用户
    @packageName VARCHAR(100) ,
    @price VARCHAR(100) ,
    @describe VARCHAR(400) ,
    @note VARCHAR(400)
AS
    BEGIN
        INSERT  INTO dbo.TBPackage
                ( PackageName ,
                  Price ,
                  Describe ,
                  Note ,
                  IsDeleted ,
                  Creater ,
                  CreateTime ,
                  Modifier ,
                  ModifyTime
	            )
        VALUES  ( @packageName , -- PackageName - nvarchar(100)
                  @price , -- Price - decimal
                  @describe , -- Describe - nvarchar(400)
                  @note , -- Note - nvarchar(400)
                  0 , -- IsDeleted - int
                  @loginUserId , -- Creater - int
                  GETDATE() , -- CreateTime - datetime
                  @loginUserId , -- Modifier - int
                  GETDATE()  -- ModifyTime - datetime
	            )
        SELECT  @@IDENTITY AS ID; 
    END

GO
/****** Object:  StoredProcedure [dbo].[product_add_package_detail_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_add_package_detail_data_sp
-- 功能描述: 新建套餐明细数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_add_package_detail_data_sp]
    @loginUserId INT , --当前用户
    @packageId INT ,
    @productId INT ,
    @reportTime INT ,
    @number INT
AS
    BEGIN
        INSERT  INTO dbo.TBPackageDetails
                ( PackageId ,
                  ProductId ,
                  ReportTime ,
                  Number ,
                  IsDeleted ,
                  Creater ,
                  CreateTime ,
                  Modifier ,
                  ModifyTime
	            )
        VALUES  ( @packageId , -- PackageId - int
                  @productId , -- ProductId - int
                  @reportTime , -- ReportTime - int
                  @number , -- Number - int
                  0 , -- IsDeleted - int
                  @loginUserId , -- Creater - int
                  GETDATE() , -- CreateTime - datetime
                  @loginUserId , -- Modifier - int
                  GETDATE()  -- ModifyTime - datetime
	            )
    END

GO
/****** Object:  StoredProcedure [dbo].[product_add_supplier_contact_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_add_supplier_contact_sp
-- 功能描述: 新建供应商联系人
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_add_supplier_contact_sp]
    @loginUserId INT , --当前用户
    @userId INT ,
    @contactType INT ,
    @name VARCHAR(100) ,
    @department VARCHAR(100) ,
    @phone VARCHAR(100) ,
    @email VARCHAR(100) ,
    @qqOrWechat VARCHAR(100) ,
    @isDefault INT
AS
    BEGIN
        INSERT  INTO dbo.TBAgentContact
                ( UserId ,
                  ContactType ,
                  Name ,
                  Department ,
                  Phone ,
                  Email ,
                  QQOrWechat ,
                  IsDefault ,
                  IsDeleted ,
                  Creater ,
                  CreateTime ,
                  Modifier ,
                  ModifyTime
	            )
        VALUES  ( @userId , -- UserId - int
                  @contactType , -- ContactType - int
                  @name , -- Name - nvarchar(100)
                  @department , -- Department - nvarchar(100)
                  @phone , -- Phone - nvarchar(100)
                  @email , -- Email - nvarchar(100)
                  @qqOrWechat , -- QQOrWechat - nvarchar(100)
                  @isDefault , -- IsDefault - int
                  0 , -- IsDeleted - int
                  @loginUserId , -- Creater - int
                  GETDATE() , -- CreateTime - datetime
                  @loginUserId , -- Modifier - int
                  GETDATE()  -- ModifyTime - datetime
	            )
    END

GO
/****** Object:  StoredProcedure [dbo].[product_add_supplier_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_add_supplier_data_sp
-- 功能描述: 新建供应商
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_add_supplier_data_sp]
    @loginUserId INT , --当前用户
    @name VARCHAR(100) ,
    @province VARCHAR(100) ,
    @city VARCHAR(100) ,
    @area VARCHAR(100) ,
    @detailsAddress VARCHAR(100) ,
    @dateStart VARCHAR(100) ,
    @dateEnd VARCHAR(100) ,
    @personLiable INT ,
    @period VARCHAR(100) ,
    @note VARCHAR(100)
AS
    BEGIN
        INSERT  INTO dbo.TBSupplier
                ( Name ,
                  State ,
                  Province ,
                  City ,
                  Area ,
                  DetailsAddress ,
                  DateStart ,
                  DateEnd ,
                  PersonLiable ,
                  Period ,
                  Note ,
                  IsDeleted ,
                  Creater ,
                  CreateTime ,
                  Modifier ,
                  ModifyTime
	            )
        VALUES  ( @name , -- Name - nvarchar(100)
                  0 , -- State - int
                  @province , -- Province - int
                  @city , -- City - int
                  @area , -- Area - int
                  @detailsAddress , -- DetailsAddress - nvarchar(100)
                  @dateStart , -- DateStart - datetime
                  @dateEnd , -- DateEnd - datetime
                  @personLiable , -- PersonLiable - nvarchar(100)
                  @period , -- Period - nvarchar(100)
                  @note , -- Note - nvarchar(400)
                  0 , -- IsDeleted - int
                  @loginUserId , -- Creater - int
                  GETDATE() , -- CreateTime - datetime
                  @loginUserId , -- Modifier - int
                  GETDATE()  -- ModifyTime - datetime
	            )
        SELECT  @@IDENTITY AS ID; 
    END

GO
/****** Object:  StoredProcedure [dbo].[product_del_material_data_by_ids_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_del_material_data_by_ids_sp
-- 功能描述: 删除产品资料数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_del_material_data_by_ids_sp] 
	@ids VARCHAR(500)  --ID集合
AS
BEGIN
	BEGIN TRY
            BEGIN TRANSACTION MyTrans--开始事务
            
            DECLARE @sql NVARCHAR(MAX);
            SET @sql = '';
            SET @sql = @sql + 'UPDATE TBProduct SET IsDeleted=1
				WHERE ID in (' + @ids + ') ';
				
            EXEC(@sql);
			
            COMMIT TRANSACTION MyTrans--事务提交语句
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION MyTrans
			--抛出异常
            DECLARE @ErrorMessage NVARCHAR(4000);
            DECLARE @ErrorSeverity INT;
            DECLARE @ErrorState INT;
		
            SELECT  @ErrorMessage = ERROR_MESSAGE() ,
                    @ErrorSeverity = ERROR_SEVERITY() ,
                    @ErrorState = ERROR_STATE();
            RAISERROR (@ErrorMessage,  -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState     -- State.
				   );
            RETURN -1;		   
        END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[product_del_package_data_by_ids_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_del_package_data_by_ids_sp
-- 功能描述: 删除检测套餐数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_del_package_data_by_ids_sp]
	@ids VARCHAR(500)  --ID集合
AS
BEGIN
	BEGIN TRY
            BEGIN TRANSACTION MyTrans--开始事务
            
            DECLARE @sql NVARCHAR(MAX);
            SET @sql = '';
            SET @sql = @sql + 'UPDATE TBPackage SET IsDeleted=1
				WHERE ID in (' + @ids + ') ';
				
            EXEC(@sql);
			
            COMMIT TRANSACTION MyTrans--事务提交语句
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION MyTrans
			--抛出异常
            DECLARE @ErrorMessage NVARCHAR(4000);
            DECLARE @ErrorSeverity INT;
            DECLARE @ErrorState INT;
		
            SELECT  @ErrorMessage = ERROR_MESSAGE() ,
                    @ErrorSeverity = ERROR_SEVERITY() ,
                    @ErrorState = ERROR_STATE();
            RAISERROR (@ErrorMessage,  -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState     -- State.
				   );
            RETURN -1;		   
        END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[product_del_supplier_data_by_ids_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_del_supplier_data_by_ids_sp
-- 功能描述: 删除供应商数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_del_supplier_data_by_ids_sp]
	@ids VARCHAR(500)  --ID集合
AS
BEGIN
	BEGIN TRY
            BEGIN TRANSACTION MyTrans--开始事务
            
            DECLARE @sql NVARCHAR(MAX);
            SET @sql = '';
            SET @sql = @sql + 'UPDATE TBSupplier SET IsDeleted=1
				WHERE ID in (' + @ids + ') ';
				
            EXEC(@sql);
			
            COMMIT TRANSACTION MyTrans--事务提交语句
            RETURN 1;
        END TRY
        BEGIN CATCH
            ROLLBACK TRANSACTION MyTrans
			--抛出异常
            DECLARE @ErrorMessage NVARCHAR(4000);
            DECLARE @ErrorSeverity INT;
            DECLARE @ErrorState INT;
		
            SELECT  @ErrorMessage = ERROR_MESSAGE() ,
                    @ErrorSeverity = ERROR_SEVERITY() ,
                    @ErrorState = ERROR_STATE();
            RAISERROR (@ErrorMessage,  -- Message text.
				   @ErrorSeverity, -- Severity.
				   @ErrorState     -- State.
				   );
            RETURN -1;		   
        END CATCH
END

GO
/****** Object:  StoredProcedure [dbo].[product_mod_material_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_mod_material_data_sp
-- 功能描述: 编辑产品资料
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_mod_material_data_sp]
    @loginUserId INT , --当前用户
    @id INT ,
    @productName VARCHAR(100) ,
    @type INT ,
    @brand VARCHAR(100) ,
    @model VARCHAR(100) ,
    @supplierId INT ,
    @warrantyDay INT ,
    @price VARCHAR(100) ,
    @note VARCHAR(400)
AS
    BEGIN
        UPDATE  dbo.TBProduct
        SET     ProductName = @productName ,
                Type = @type ,
                Brand = @brand ,
                Model = @model ,
                SupplierId = @supplierId ,
                WarrantyDay = @warrantyDay ,
                Price = @price ,
                Note = @note ,
                Modifier = @loginUserId ,
                ModifyTime = GETDATE()
        WHERE   ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_mod_package_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_mod_package_data_sp
-- 功能描述: 编辑检测套餐数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_mod_package_data_sp]
    @loginUserId INT , --当前用户
    @id INT ,
    @packageName VARCHAR(100) ,
    @price VARCHAR(100) ,
    @describe VARCHAR(400) ,
    @note VARCHAR(400)
AS
    BEGIN
        UPDATE  dbo.TBPackage
        SET     PackageName = @packageName ,
                Price = @price ,
                Describe = @describe ,
                Note = @note ,
                Modifier = @loginUserId ,
                ModifyTime = GETDATE()
        WHERE   ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_mod_package_detail_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_mod_package_detail_data_sp
-- 功能描述: 编辑套餐明细数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_mod_package_detail_data_sp]
    @loginUserId INT , --当前用户
    @id INT ,
    @productId INT ,
    @reportTime INT ,
    @number INT
AS
    BEGIN
        UPDATE  dbo.TBPackageDetails
        SET     ProductId = @productId ,
                ReportTime = @reportTime ,
                Number = @number ,
                Modifier = @loginUserId ,
                ModifyTime = GETDATE()
        WHERE   ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_mod_supplier_contact_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_mod_supplier_contact_sp
-- 功能描述: 编辑供应商联系人
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_mod_supplier_contact_sp]
    @loginUserId INT , --当前用户
    @id INT ,
    @name VARCHAR(100) ,
    @department VARCHAR(100) ,
    @phone VARCHAR(100) ,
    @email VARCHAR(100) ,
    @qqOrWechat VARCHAR(100) ,
    @isDefault INT
AS
    BEGIN
        UPDATE  dbo.TBAgentContact
        SET     Name = @name ,
                Department = @department ,
                Phone = @phone ,
                Email = @email ,
                QQOrWechat = @qqOrWechat ,
                IsDefault = @isDefault ,
                Modifier = @loginUserId ,
                ModifyTime = GETDATE()
        WHERE   ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_mod_supplier_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_mod_supplier_data_sp
-- 功能描述: 编辑供应商
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_mod_supplier_data_sp]
    @loginUserId INT , --当前用户
    @id INT ,
    @name VARCHAR(100) ,
    @province VARCHAR(100) ,
    @city VARCHAR(100) ,
    @area VARCHAR(100) ,
    @detailsAddress VARCHAR(100) ,
    @dateStart VARCHAR(100) ,
    @dateEnd VARCHAR(100) ,
    @personLiable INT ,
    @period VARCHAR(100) ,
    @note VARCHAR(100)
AS
    BEGIN
        UPDATE  dbo.TBSupplier
        SET     Name = @name ,
                Province = @province ,
                City = @city ,
                Area = @area ,
                DetailsAddress = @detailsAddress ,
                DateStart = @dateStart ,
                DateEnd = @dateEnd ,
                PersonLiable = @personLiable ,
                Period = @period ,
                Note = @note ,
                Modifier = @loginUserId ,
                ModifyTime = GETDATE()
        WHERE   ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_mod_supplier_state_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_mod_supplier_state_sp
-- 功能描述: 更新供应商状态
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_mod_supplier_state_sp] @id INT, @state INT
AS
    BEGIN
        UPDATE  dbo.TBSupplier
        SET     State = @state
        WHERE   ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_qry_material_list_by_condition_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_qry_material_list_by_condition_sp '','','','','',-1,'',''
-- 功能描述: 查询产品资料管理数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_qry_material_list_by_condition_sp]
    @product VARCHAR(100) ,
    @brand VARCHAR(100) ,
    @model VARCHAR(100) ,
    @supplier VARCHAR(200) ,
    @warrantyDay INT ,
    @productType INT ,
    @priceStart VARCHAR(100) ,
    @priceEnd VARCHAR(100)
AS
    BEGIN
        SET NOCOUNT ON;   
                              
        DECLARE @sqlMain NVARCHAR(MAX)                
        SET @sqlMain = ''                
        SET @sqlMain = @sqlMain + '                
			 SELECT materialData.*                 
			 FROM                
			  (                
			SELECT  a.ID ,
					ProductName ,
					Brand ,
					Model ,
					b.Name SupplierName ,
					Price ,
					CONVERT(NVARCHAR(200), WarrantyDay) + ''天'' WarrantyDay ,
					a.Type ,
					C.Name ProductType ,
					a.CreateTime ,
					a.IsDeleted
			FROM    TBProduct a
					LEFT JOIN dbo.TBSupplier b ON a.SupplierId = b.ID
					INNER JOIN dbo.TBDictionary c ON c.Type = 2
													 AND a.Type = c.Code
													 AND c.IsDeleted = 0
			  ) AS materialData 
			  WHERE materialData.IsDeleted=0 '    
        
        IF ISNULL(@product, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain
                    + ' AND materialData.ProductName LIKE ''%'
                    + CONVERT(NVARCHAR(200), @product) + '%'''
            END 
        
        IF ISNULL(@brand, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND materialData.Brand LIKE ''%'
                    + CONVERT(NVARCHAR(200), @brand) + '%'''
            END 
        
        IF ISNULL(@model, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND materialData.Model LIKE ''%'
                    + CONVERT(NVARCHAR(200), @model) + '%'''
            END 
        
        IF ISNULL(@supplier, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain
                    + ' AND materialData.SupplierName LIKE ''%'
                    + CONVERT(NVARCHAR(200), @supplier) + '%'''
            END 
        
        IF ISNULL(@warrantyDay, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND materialData.WarrantyDay = '
                    + CONVERT(NVARCHAR(200), @warrantyDay)
            END
        
        IF ISNULL(@productType, -1) <> -1
            BEGIN
                SET @sqlMain = @sqlMain + ' AND materialData.Type = '
                    + CONVERT(NVARCHAR(200), @productType)
            END  
        
        IF ISNULL(@priceStart, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND materialData.Price >= '
                    + CONVERT(NVARCHAR(200), @priceStart)
            END 
        
        IF ISNULL(@priceEnd, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND materialData.Price <= '
                    + CONVERT(NVARCHAR(200), @priceEnd)
            END  
			
        SET @sqlMain = @sqlMain + ' ORDER BY materialData.CreateTime DESC'          
        EXEC (@sqlMain) 
    END

GO
/****** Object:  StoredProcedure [dbo].[product_qry_package_list_by_condition_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_qry_package_list_by_condition_sp '','',''
-- 功能描述: 查询检测套餐管理数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_qry_package_list_by_condition_sp]
    @packageName VARCHAR(100) ,
    @priceStart VARCHAR(100) ,
    @priceEnd VARCHAR(100)
AS
    BEGIN
        SET NOCOUNT ON;
	  
        DECLARE @sqlMain NVARCHAR(MAX)                
        SET @sqlMain = ''                
        SET @sqlMain = @sqlMain
            + '                
			 SELECT packageData.*                 
			 FROM                
			  (                
			SELECT  a.ID ,
					PackageName ,
					Describe ,
					Price ,
					( SELECT    STUFF(( SELECT DISTINCT
												''、'' + CAST(ProductName AS NVARCHAR(200))
										FROM    ( SELECT    p.ProductName
												  FROM      dbo.TBPackageDetails AS pd
															INNER JOIN dbo.TBProduct p ON p.ID = pd.ProductId
												  WHERE     pd.PackageId = a.ID
															AND pd.IsDeleted = 0
												) A
									  FOR
										XML PATH('''')
									  ), 1, 1, '''')
					) AS Products ,
					a.CreateTime ,
					a.IsDeleted
			FROM    dbo.TBPackage a
			  ) AS packageData 
			  WHERE packageData.IsDeleted=0 '   
        
        IF ISNULL(@packageName, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain
                    + ' AND packageData.PackageName LIKE ''%'
                    + CONVERT(NVARCHAR(200), @packageName) + '%'''
            END 
        
        IF ISNULL(@priceStart, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND packageData.Price >= '
                    + CONVERT(NVARCHAR(200), @priceStart)
            END 
        
        IF ISNULL(@priceEnd, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND packageData.Price <= '
                    + CONVERT(NVARCHAR(200), @priceEnd)
            END 
			
        SET @sqlMain = @sqlMain + ' ORDER BY packageData.CreateTime DESC'                   
        EXEC (@sqlMain)
    END

GO
/****** Object:  StoredProcedure [dbo].[product_qry_supplier_contact_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_qry_supplier_contact_sp
-- 功能描述: 获取供应商联系人
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_qry_supplier_contact_sp]
    @supplierId INT ,
    @contactType INT
AS
    BEGIN
        SET NOCOUNT ON;

        SELECT  ID ,
                Name ,
                Department ,
                Phone ,
                Email ,
                QQOrWechat ,
                IsDefault
        FROM    dbo.TBAgentContact
        WHERE   UserId = @supplierId
                AND ContactType = @contactType
                AND IsDeleted = 0
    END

GO
/****** Object:  StoredProcedure [dbo].[product_qry_supplier_data_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_qry_supplier_data_sp
-- 功能描述: 获取供应商信息
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_qry_supplier_data_sp] @id INT
AS
    BEGIN
        SET NOCOUNT ON;

        SELECT  a.Name ,
                a.Province ,
                province.name ProvinceName ,
                a.City ,
                city.name CityName ,
                a.Area ,
                area.name AreaName ,
                a.DetailsAddress ,
                a.DateStart ,
                a.DateEnd ,
                a.PersonLiable ,
                u.Name PersonLiableName ,
                a.Period ,
                a.Note
        FROM    dbo.TBSupplier a
                LEFT JOIN tbl_Region province ON a.Province = province.codeID
                LEFT JOIN tbl_Region city ON a.City = city.codeID
                LEFT JOIN tbl_Region area ON a.Area = area.codeID
                INNER JOIN dbo.TBUser u ON u.ID = a.PersonLiable
        WHERE   a.ID = @id
    END

GO
/****** Object:  StoredProcedure [dbo].[product_qry_supplier_list_by_condition_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =====================Arctic_Wolf========================
-- 存储过程名称:exec product_qry_supplier_list_by_condition_sp '','','','','',-1
-- 功能描述: 查询供应商管理数据
-- 创建人: wei.xia
-- 创建时间: 2018/01/10
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROCEDURE [dbo].[product_qry_supplier_list_by_condition_sp]
    @supplier VARCHAR(200) , --供应商名称   
    @contact VARCHAR(200) , --联系人  
    @phone VARCHAR(200) , --电话  
    @address VARCHAR(200) , --地址  
    @period VARCHAR(200) , --账期   
    @state INT --状态   
AS
    BEGIN
        SET NOCOUNT ON;  
		         
        DECLARE @sqlMain NVARCHAR(MAX)                
        SET @sqlMain = ''                
        SET @sqlMain = @sqlMain
            + 'SELECT supplierData.* FROM (SELECT	a.ID ,
						a.Name ,
						b.Name ContactName ,
						b.Phone ,
						ISNULL(province.name, '''') + ISNULL(city.name, '''') + ISNULL(area.name,
																			  '''')
						+ ISNULL(a.DetailsAddress, '''') MainAddress ,
						a.Period + ''天'' Period,
						c.Name StateName ,
						a.State ,
						a.CreateTime ,
						a.IsDeleted
				FROM    dbo.TBSupplier a
						LEFT JOIN TBAgentContact b ON b.ContactType = 3
													  AND b.UserId = a.ID
													  AND b.IsDeleted = 0
													  AND b.IsDefault = 1
						LEFT JOIN tbl_Region province ON a.Province = province.codeID
						LEFT JOIN tbl_Region city ON a.City = city.codeID
						LEFT JOIN tbl_Region area ON a.Area = area.codeID
						INNER JOIN dbo.TBDictionary c ON c.Type = 1
														 AND c.Code = a.State
														 AND c.IsDeleted = 0)supplierData
				WHERE supplierData.IsDeleted=0 '        
        
        IF ISNULL(@supplier, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND supplierData.Name LIKE ''%'
                    + CONVERT(NVARCHAR(200), @supplier) + '%'''
            END 
        
        IF ISNULL(@contact, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain
                    + ' AND supplierData.ContactName LIKE ''%'
                    + CONVERT(NVARCHAR(200), @contact) + '%'''
            END 
        
        IF ISNULL(@phone, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND supplierData.Phone LIKE ''%'
                    + CONVERT(NVARCHAR(200), @phone) + '%'''
            END 
        
        IF ISNULL(@address, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain
                    + ' AND supplierData.MainAddress LIKE ''%'
                    + CONVERT(NVARCHAR(200), @address) + '%'''
            END 
        
        IF ISNULL(@period, '') <> ''
            BEGIN
                SET @sqlMain = @sqlMain + ' AND supplierData.Period LIKE ''%'
                    + CONVERT(NVARCHAR(200), @period) + '%'''
            END
        
        IF ISNULL(@state, -1) <> -1
            BEGIN
                SET @sqlMain = @sqlMain + ' AND supplierData.State = '
                    + CONVERT(NVARCHAR(200), @state)
            END 
			
        SET @sqlMain = @sqlMain + ' ORDER BY supplierData.CreateTime DESC'         
        EXEC (@sqlMain)
    END

GO
/****** Object:  StoredProcedure [dbo].[user_mod_user_password_by_userid_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================Arctic_Wolf========================
-- 存储过程名称:exec user_mod_user_password_by_userid_sp  '9999'
-- 功能描述: 根据用户ID更新用户密码
-- 创建人: 王庚响
-- 创建时间: 2018/01/09
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROC [dbo].[user_mod_user_password_by_userid_sp]
    @LoginUserId INT , --用户ID
    @NewRPassword NVARCHAR(200) --用户密码
AS
    BEGIN
        UPDATE  dbo.TBUser
        SET     PassWord = @NewRPassword ,
                ModifyTime = GETDATE() ,
                Modifier = @LoginUserId
        WHERE   ID = @LoginUserId
                AND IsDeleted = 0
    END;
GO
/****** Object:  StoredProcedure [dbo].[user_qry_user_info_by_usercode_sp]    Script Date: 2018/1/12 10:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================Arctic_Wolf========================
-- 存储过程名称:exec user_qry_user_info_by_usercode_sp  '9999'
-- 功能描述: 根据用户账号值获取用户详细信息
-- 创建人: 王庚响
-- 创建时间: 2018/01/09
-- 摘要说明: 创建
-- =====================Arctic_Wolf========================
CREATE PROC [dbo].[user_qry_user_info_by_usercode_sp] @UserCode NVARCHAR(50) --用户编号
AS
    BEGIN
        SELECT  *
        FROM    dbo.TBUser
        WHERE   LoginName = @UserCode
                AND IsDeleted = 0
    END;


GO
